matplotlib==3.2.2
python-dateutil>=2.8.1
pykalman>=0.9.5
tabulate>=0.8.7
bokeh==2.4.3
pandas==1.3.5
pytz>=2020.1
PyYAML
v20
scipy>=1.6.3
python-binance>=0.7.11
yfinance>=0.1.55
QuantStats>=0.0.34
telethon>=1.21.1
gradient-free-optimizers>=0.3.2
hyperactive<=3.9.9
backtrader @ git+https://github.com/happydasch/backtrader
btoandav20 @ git+https://github.com/happydasch/btoandav20
btplotting @ git+https://github.com/happydasch/btplotting
bt-ccxt-store @ git+https://github.com/happydasch/bt-ccxt-store
#IbPy2 @ git+https://github.com/blampe/IbPy.git
