matplotlib>=3.2.2
python-dateutil>=2.8.1
tabulate>=0.8.7
bokeh>=2.2.3
pytz>=2020.1
PyYAML
v20
python-binance>=0.7.11
python-telegram-bot>=13.5
backtrader @ git+https://github.com/backtrader2/backtrader
btoandav20 @ git+https://github.com/happydasch/btoandav20
btplotting @ git+https://github.com/happydasch/btplotting
IbPy2 @ git+https://github.com/blampe/IbPy.git
bt-ccxt-store @ git+https://github.com/Dave-Vallance/bt-ccxt-store
